<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
<link rel="stylesheet" href="/css/main.css" type="text/css" />
<div class="header">
	<div class="row">
		<div class="span10">
		<img src="/images/envlpe-header.jpg" alt="envl.pe - a place for experimentation and then writing about it all" />
		</div>
	</div>
	<div class=menubar>
		<a href="/">Home</a> <span class="menubarbreak">/</span>  Archive <span class="menubarbreak">/</span> <a href="/atom.xml">Subscribe</a>
	</div>
</div>
<br>
