<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
<link href='http://fonts.googleapis.com/css?family=Quicksand:400,300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/css/main.css" type="text/css" />
<div class="header">
	<div class="row">
		<div class="span5 maintitle">
			<a href="/">envl.pe</a>
		</div>
		<div class="span5 subtitle">a place for experimentation and then writing about it all</div>
	</div>
	<div class=menubar>
		Home | About | Archive
	</div>
</div>
<br>
