<div class="header">
	<div class="row maintitlerow">
		<div class="span5">
			<img src="/images/envlpe-headers-title.jpg" alt="envl.pe" />
		</div>
		<div class="span11"><img src="/images/envlpe-headers-subtitle.jpg" alt="a place for experimentation and then writing about it all" /></div>
	</div>
		<div class="row">
			<div class="menubar span 11 offset5">
				<a href="/">Home</a> <span class="menubarbreak">/</span>  <a href="/archive.html">Archive</a> <span class="menubarbreak">/</span> <a href="/atom.xml">Subscribe</a>
			</div>
	</div>
</div>
