@darkgrey: #404040;
@envlred:#b00000;
@envlstrong: #660000;
body{
	margin-left: 20px;
	font: 16px Palatino, Georgia, "Times New Roman", Times, serif;
}

a{
	color: @envlred;
}

a:hover{
	color: @envlred;
}
p{
	font-size: 15px;
	line-height: 1.5em;
	color: black;
}
p strong{
	color: @envlstrong;
	letter-spacing: .08em;
}
.header{
	margin-top: 20px;
	margin-bottom: 60px;
}

.footer{
	margin-top: 200px;
}

.menubar{
	margin-top: 10px;
	font-size: 20px;
}

.menubarbreak{
	margin-left: 20px ;
	margin-right: 20px;
}
.entry-title{
	color: black;
	font-size: 60px;
}

.entry-title a:hover{
	text-decoration: none;
}

.entry-subtitle{
	color: black;
	font-size: 30px;
	margin-bottom: 40px;
	color: @darkgrey;
}

.entry-intro{
	font-size: 20px;
	line-height: 26px;
	margin-bottom: 22px;
	color: @darkgrey;
}

.entry-heading{
	font-size: 20px;
	color: black;
	letter-spacing: 2px;
	text-transform: uppercase;
	border-bottom-color: @envlred;
	border-bottom-style: solid;
	border-bottom-width: 5px;
	margin-bottom: 20px;
	margin-top: 20px;
	float: left;
}

.entry-largeimage{
	width: 940px;
	margin-top: 5px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	
}

pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

pre {
	background-color: #ffffff;
 	border: 0;
 	margin: 0;
}

pre code {
	padding: 1em !important;
	//border-radius: 1em;
	margin-left: -8px;
	//margin-right: -1em;
	color: #EEE;
	background: #333;
	display: block;
	font-size: 14px !important;
}

p code {
	//padding:1px 7px;
	background: #FDFFD1;
	color: #666;
	font-size:  14px;
	//border-radius: 6px;
	font-weight: 500;
	text-shadow: 0 1px 0 #FEFEFE;
}

code.bash .nv {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}